.adv_bl_wrapper2 {
  max-width: 1260px;
  margin: 0 auto;
  background: #fff;
  border-bottom: 10px solid #edf2f8;
  padding: 84px 20px 56px; }

@media screen and (max-width: 1023px) {
  .adv_bl_wrapper2 {
    padding: 46px 0 60px;
    border-bottom-width: 4px; } }

@media screen and (max-width: 767px) {
  .adv_bl_wrapper2 {
    padding: 28px 0 18px; } }

.adv_bl_wrapper2.inverse {
  background: #fff;
  border-color: #fff;
  }

.adv_bl_wrapper2.inverse .adv_bl_title {
  color: #333; }

.adv_bl_wrapper2.inverse .adv_bl_body .item_title {
  color: #33;
  }

.adv_bl_wrapper2.inverse .adv_bl_body .item_pic path {
  fill: #333; }

.adv_bl_wrapper2.inverse .adv_bl_body .item_text {
  color: #999; }

@media screen and (max-width: 1023px) {
  .adv_bl_wrapper2.inverse .adv_bl_body .adv_bl_item:nth-child(odd) {
    background: #fbfbfb; } }

.adv_bl_wrapper2.inverse .adv_bl_body .adv_bl_item {
  background: #fff; }

.adv_bl_wrapper2 .adv_bl_wrap {
  max-width: 1100px;
  margin: 0 auto; }

.adv_bl_wrapper2 .adv_bl_title {
  margin-bottom: 0;
  padding: 0 0 36px; }

@media screen and (max-width: 1023px) {
  .adv_bl_wrapper2 .adv_bl_title {
    font-size: 26px;
    padding: 0 60px 20px; } }

@media screen and (max-width: 767px) {
  .adv_bl_wrapper2 .adv_bl_title {
    padding: 0 20px 20px; } }

@media screen and (max-width: 639px) {
  .adv_bl_wrapper2 .adv_bl_title {
    font-size: 22px;
    text-align: center;
    padding: 0 20px 24px; } }

.adv_bl_wrapper2 .adv_bl_body {
  font-size: 0; }

.adv_bl_wrapper2 .adv_bl_body .adv_bl_item {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  background: #fff;
  margin: 0 2% 30px 0; }

@media screen and (max-width: 1023px) {
  .adv_bl_wrapper2 .adv_bl_body .adv_bl_item {
    width: auto;
    display: block;
    margin: 0;
    padding: 16px 60px 17px; }

  .adv_bl_wrapper2 .adv_bl_body .adv_bl_item:nth-child(odd) {
    background: #fbfbfb; } }

@media screen and (max-width: 767px) {
  .adv_bl_wrapper2 .adv_bl_body .adv_bl_item {
    padding: 16px 20px 17px; } }

.adv_bl_wrapper2 .adv_bl_body .adv_bl_item:nth-child(3n) {
  margin-right: 0; }

.adv_bl_wrapper2 .adv_bl_body .adv_item_in {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.adv_bl_wrapper2 .adv_bl_body .item_pic {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 10px 0 0;
  max-width: 46px; }

.adv_bl_wrapper2 .adv_bl_body .item_pic img, .adv_bl_wrapper2 .adv_bl_body .item_pic svg {
  max-width: 46px;
  max-height: 50px; }

.adv_bl_wrapper2 .adv_bl_body .item_pic svg {
  margin: -7px 0 0 -8px; }

.adv_bl_wrapper2 .adv_bl_body .item_pic path {
  fill: #333; }

.adv_bl_wrapper2 .adv_bl_body .adv_txt_wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.adv_bl_wrapper2 .adv_bl_body .item_title {
  margin-bottom: 0;
  padding: 0 0 8px; }

@media screen and (max-width: 1023px) {
  .adv_bl_wrapper2 .adv_bl_body .item_title {
    font-size: 18px;
    padding: 0; } }

.adv_bl_wrapper2 .adv_bl_body .item_text {
  margin-bottom: 0; }

@media screen and (max-width: 1023px) {
  .adv_bl_wrapper2 .adv_bl_body .item_text {
    font-size: 15px; } }