.adv_bl_wrapper22 .adv_bl_imem_count {
  width: 40px;
  height: 40px;
  border: 2px solid #8B0000;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  margin-bottom: 0;
  }

.adv_bl_wrapper22 {
  position: relative;
  padding: 60px 42px 40px;
  background: #fff; }

@media screen and (max-width: 1023px) {
  .adv_bl_wrapper22 {
    padding: 40px 24px 20px; } }

@media screen and (max-width: 767px) {
  .adv_bl_wrapper22 {
    padding: 40px 20px 30px; } }

@media screen and (max-width: 479px) {
  .adv_bl_wrapper22 {
    padding: 30px 10px 20px; } }

.adv_bl_wrapper22.border {
  border-bottom: 1px solid #cacaca; }

.adv_bl_wrapper22.inverse {
  background: #1d1d1d; }

.adv_bl_wrapper22.inverse.border {
  border-color: #cacaca; }

.adv_bl_wrapper22.inverse .adv_bl_title {
  color: #fff; }

.adv_bl_wrapper22.inverse .adv_bl_subtitle {
  color: #8B0000;
  }

.adv_bl_wrapper22.inverse .adv_item_title {
  color: #fff; }

.adv_bl_wrapper22.inverse .popup_button {
  background: #8B0000;
  color: #fff; }

.adv_bl_wrapper22.inverse .adv_item_title:before {
  background: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2244px%22%20height%3D%2244px%22%20%20viewBox%3D%220%200%2044%2044%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%231dbd4e%22%20d%3D%22M37%2E865%2C11%2E178%20C37%2E512%2C11%2E087%2037%2E241%2C10%2E814%2037%2E150%2C10%2E471%20C37%2E059%2C10%2E118%2037%2E160%2C9%2E745%2037%2E412%2C9%2E493%20C37%2E663%2C9%2E240%2038%2E036%2C9%2E139%2038%2E389%2C9%2E230%20C38%2E731%2C9%2E321%2039%2E003%2C9%2E593%2039%2E104%2C9%2E947%20C39%2E194%2C10%2E290%2039%2E094%2C10%2E663%2038%2E842%2C10%2E915%20C38%2E580%2C11%2E178%2038%2E217%2C11%2E279%2037%2E865%2C11%2E178%20ZM41%2E551%2C26%2E677%20C38%2E530%2C37%2E988%2026%2E928%2C44%2E658%2015%2E639%2C41%2E631%20C4%2E339%2C38%2E594%20%2D2%2E317%2C26%2E980%200%2E704%2C15%2E658%20C3%2E735%2C4%2E346%2015%2E337%2C%2D2%2E324%2026%2E626%2C0%2E704%20C30%2E161%2C1%2E622%2033%2E283%2C3%2E438%2035%2E810%2C5%2E860%20L35%2E911%2C5%2E961%20L36%2E113%2C6%2E264%20L36%2E515%2C6%2E667%20C36%2E918%2C7%2E071%2036%2E918%2C7%2E676%2036%2E515%2C8%2E080%20C36%2E113%2C8%2E484%2035%2E508%2C8%2E484%2035%2E106%2C8%2E080%20L34%2E592%2C7%2E575%20C32%2E276%2C5%2E255%2029%2E355%2C3%2E539%2026%2E022%2C2%2E631%20C15%2E840%2C%2D0%2E205%205%2E347%2C5%2E961%202%2E627%2C16%2E162%20C%2D0%2E202%2C26%2E374%205%2E951%2C36%2E878%2016%2E142%2C39%2E603%20C26%2E324%2C42%2E438%2036%2E818%2C36%2E273%2039%2E537%2C25%2E971%20C40%2E544%2C21%2E924%2040%2E342%2C17%2E888%2038%2E932%2C14%2E245%20L38%2E731%2C13%2E741%20C38%2E530%2C13%2E236%2038%2E832%2C12%2E631%2039%2E335%2C12%2E429%20C39%2E839%2C12%2E227%2040%2E443%2C12%2E530%2040%2E644%2C13%2E034%20L41%2E047%2C13%2E943%20C41%2E148%2C14%2E043%2041%2E148%2C14%2E144%2041%2E148%2C14%2E245%20C42%2E467%2C18%2E191%2042%2E669%2C22%2E429%2041%2E551%2C26%2E677%20ZM31%2E168%2C14%2E851%20L20%2E573%2C25%2E466%20L15%2E135%2C20%2E108%20C14%2E732%2C19%2E704%2014%2E118%2C19%2E704%2013%2E715%2C20%2E108%20C13%2E313%2C20%2E512%2013%2E313%2C21%2E117%2013%2E715%2C21%2E521%20L19%2E869%2C27%2E686%20C20%2E070%2C27%2E888%2020%2E372%2C27%2E989%2020%2E573%2C27%2E989%20C20%2E876%2C27%2E989%2021%2E077%2C27%2E888%2021%2E278%2C27%2E686%20L32%2E678%2C16%2E263%20C33%2E081%2C15%2E860%2033%2E081%2C15%2E254%2032%2E678%2C14%2E851%20C32%2E276%2C14%2E447%2031%2E571%2C14%2E447%2031%2E168%2C14%2E851%20Z%22%2F%3E%3C%2Fsvg%3E) 0 0 no-repeat; }

@media screen and (max-width: 639px) {
  .adv_bl_wrapper22.inverse .adv_item_title:before {
    background-size: 50px 50px; } }

@media screen and (max-width: 479px) {
  .adv_bl_wrapper22.inverse .adv_item_title:before {
    background-size: 40px 40px; } }

.adv_bl_wrapper22.inverse .adv_bl_imem_count{
  color: #fff;
}
.adv_bl_wrapper22 .adv_bg2, .adv_bl_wrapper22 .adv_shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.adv_bl_wrapper22 .adv_shadow {
  opacity: 0; }

.adv_bl_wrapper22 .adv_bg2 {
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat; }

.adv_bl_wrapper22 .adv_bg2.left_top {
  background-position: 0 0; }

.adv_bl_wrapper22 .adv_bg2.left_center {
  background-position: 0 50%; }

.adv_bl_wrapper22 .adv_bg2.right_top {
  background-position: 100% 0; }

.adv_bl_wrapper22 .adv_bg2.center_top {
  background-position: 50% 0; }

.adv_bl_wrapper22 .adv_bg2.center_center {
  background-position: 50% 50%; }

.adv_bl_wrapper22 .adv_bg2.right_center {
  background-position: 100% 50%; }

.adv_bl_wrapper22 .adv_bg2.left_bottom {
  background-position: 0 100%; }

.adv_bl_wrapper22 .adv_bg2.center_bottom {
  background-position: 50% 100%; }

.adv_bl_wrapper22 .adv_bg2.right_bottom {
  background-position: 100% 100%; }

.adv_bl_wrapper22 .adv_bg2.fixed {
  background-attachment: fixed; }

.adv_bl_wrapper22 .adv_shadow.opacity_0 {
  opacity: 0; }

.adv_bl_wrapper22 .adv_shadow.opacity_10 {
  opacity: 0.1; }

.adv_bl_wrapper22 .adv_shadow.opacity_20 {
  opacity: 0.2; }

.adv_bl_wrapper22 .adv_shadow.opacity_30 {
  opacity: 0.3; }

.adv_bl_wrapper22 .adv_shadow.opacity_40 {
  opacity: 0.4; }

.adv_bl_wrapper22 .adv_shadow.opacity_50 {
  opacity: 0.5; }

.adv_bl_wrapper22 .adv_shadow.opacity_60 {
  opacity: 0.6; }

.adv_bl_wrapper22 .adv_shadow.opacity_70 {
  opacity: 0.7; }

.adv_bl_wrapper22 .adv_shadow.opacity_80 {
  opacity: 0.8; }

.adv_bl_wrapper22 .adv_shadow.opacity_90 {
  opacity: 0.9; }

.adv_bl_wrapper22 .adv_bl_wrap {
  max-width: 1100px;
  margin: 0 auto;
  position: relative; }

.adv_bl_wrapper22 .adv_bl_title {
  text-align: center; }

@media screen and (max-width: 639px) {
  .adv_bl_wrapper22 .adv_bl_title {
    font-size: 1.875rem;
    line-height: 2.5625rem; } }

@media screen and (max-width: 479px) {
  .adv_bl_wrapper22 .adv_bl_title {
    font-size: 1.375rem;
    line-height: 1.875rem; } }

.adv_bl_wrapper22 .adv_bl_subtitle {
  text-align: center;
  margin-bottom: 0; }

@media screen and (max-width: 639px) {
  .adv_bl_wrapper22 .adv_bl_subtitle {
    font-size: 1.125rem;
    line-height: 1.625rem; } }

@media screen and (max-width: 479px) {
  .adv_bl_wrapper22 .adv_bl_subtitle {
    font-size: 1rem;
    line-height: 1.4375rem; } }

.adv_bl_wrapper22 .adv_bl_in {
  padding: 50px 0 0;
  font-size: 0;}

@media screen and (max-width: 1023px) {
  .adv_bl_wrapper22 .adv_bl_in {
    padding: 30px 0 0; } }

@media screen and (max-width: 639px) {
  .adv_bl_wrapper22 .adv_bl_in {
    padding: 40px 0 0; } }

@media screen and (max-width: 479px) {
  .adv_bl_wrapper22 .adv_bl_in {
    padding: 20px 0 0; } }

.adv_bl_wrapper22 .adv_bl_item {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin: 0 4% 20px 0; }

@media screen and (max-width: 1023px) {
  .adv_bl_wrapper22 .adv_bl_item {
    margin: 0 4% 10px 0; } }

@media screen and (max-width: 639px) {
  .adv_bl_wrapper22 .adv_bl_item {
    display: block;
    width: auto;
    margin: 0 0 20px; } }

@media screen and (max-width: 479px) {
  .adv_bl_wrapper22 .adv_bl_item {
    margin: 0 0 12px; } }

.adv_bl_wrapper22 .adv_bl_item:nth-child(2n) {
  margin-right: 0; }

.adv_bl_wrapper22 .adv_item_title {
  padding: 10px 0 9px 60px;
  margin-bottom: 0;
  position: relative; }

@media screen and (max-width: 1023px) {
  .adv_bl_wrapper22 .adv_item_title {
    font-size: 1rem;
    line-height: 1.4375rem; } }

@media screen and (max-width: 639px) {
  .adv_bl_wrapper22 .adv_item_title {
    padding: 13px 0 13px 70px;
    font-size: 1.375rem;
    line-height: 1.9375rem; } }

@media screen and (max-width: 479px) {
  .adv_bl_wrapper22 .adv_item_title {
    padding: 8px 0 8px 50px;
    font-size: 1.125rem;
    line-height: 1.5625rem; } }

.adv_bl_wrapper22 .adv_item_title:before {
  position: absolute;
  display: none;
  content: "";
  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  background: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2244px%22%20height%3D%2244px%22%20%20viewBox%3D%220%200%2044%2044%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%231dbd4e%22%20d%3D%22M37%2E865%2C11%2E178%20C37%2E512%2C11%2E087%2037%2E241%2C10%2E814%2037%2E150%2C10%2E471%20C37%2E059%2C10%2E118%2037%2E160%2C9%2E745%2037%2E412%2C9%2E493%20C37%2E663%2C9%2E240%2038%2E036%2C9%2E139%2038%2E389%2C9%2E230%20C38%2E731%2C9%2E321%2039%2E003%2C9%2E593%2039%2E104%2C9%2E947%20C39%2E194%2C10%2E290%2039%2E094%2C10%2E663%2038%2E842%2C10%2E915%20C38%2E580%2C11%2E178%2038%2E217%2C11%2E279%2037%2E865%2C11%2E178%20ZM41%2E551%2C26%2E677%20C38%2E530%2C37%2E988%2026%2E928%2C44%2E658%2015%2E639%2C41%2E631%20C4%2E339%2C38%2E594%20%2D2%2E317%2C26%2E980%200%2E704%2C15%2E658%20C3%2E735%2C4%2E346%2015%2E337%2C%2D2%2E324%2026%2E626%2C0%2E704%20C30%2E161%2C1%2E622%2033%2E283%2C3%2E438%2035%2E810%2C5%2E860%20L35%2E911%2C5%2E961%20L36%2E113%2C6%2E264%20L36%2E515%2C6%2E667%20C36%2E918%2C7%2E071%2036%2E918%2C7%2E676%2036%2E515%2C8%2E080%20C36%2E113%2C8%2E484%2035%2E508%2C8%2E484%2035%2E106%2C8%2E080%20L34%2E592%2C7%2E575%20C32%2E276%2C5%2E255%2029%2E355%2C3%2E539%2026%2E022%2C2%2E631%20C15%2E840%2C%2D0%2E205%205%2E347%2C5%2E961%202%2E627%2C16%2E162%20C%2D0%2E202%2C26%2E374%205%2E951%2C36%2E878%2016%2E142%2C39%2E603%20C26%2E324%2C42%2E438%2036%2E818%2C36%2E273%2039%2E537%2C25%2E971%20C40%2E544%2C21%2E924%2040%2E342%2C17%2E888%2038%2E932%2C14%2E245%20L38%2E731%2C13%2E741%20C38%2E530%2C13%2E236%2038%2E832%2C12%2E631%2039%2E335%2C12%2E429%20C39%2E839%2C12%2E227%2040%2E443%2C12%2E530%2040%2E644%2C13%2E034%20L41%2E047%2C13%2E943%20C41%2E148%2C14%2E043%2041%2E148%2C14%2E144%2041%2E148%2C14%2E245%20C42%2E467%2C18%2E191%2042%2E669%2C22%2E429%2041%2E551%2C26%2E677%20ZM31%2E168%2C14%2E851%20L20%2E573%2C25%2E466%20L15%2E135%2C20%2E108%20C14%2E732%2C19%2E704%2014%2E118%2C19%2E704%2013%2E715%2C20%2E108%20C13%2E313%2C20%2E512%2013%2E313%2C21%2E117%2013%2E715%2C21%2E521%20L19%2E869%2C27%2E686%20C20%2E070%2C27%2E888%2020%2E372%2C27%2E989%2020%2E573%2C27%2E989%20C20%2E876%2C27%2E989%2021%2E077%2C27%2E888%2021%2E278%2C27%2E686%20L32%2E678%2C16%2E263%20C33%2E081%2C15%2E860%2033%2E081%2C15%2E254%2032%2E678%2C14%2E851%20C32%2E276%2C14%2E447%2031%2E571%2C14%2E447%2031%2E168%2C14%2E851%20Z%22%2F%3E%3C%2Fsvg%3E) 0 0 no-repeat; }

@media screen and (max-width: 639px) {
  .adv_bl_wrapper22 .adv_item_title:before {
    width: 50px;
    height: 50px;
    background-size: 50px 50px; } }

@media screen and (max-width: 479px) {
  .adv_bl_wrapper22 .adv_item_title:before {
    width: 40px;
    height: 40px;
    background-size: 40px 40px; } }

.adv_bl_wrapper22 .popup_button_wr {
  text-align: center;
  padding: 40px 0 0; }

@media screen and (max-width: 1299px) {
  .adv_bl_wrapper22 .popup_button_wr {
    padding: 24px 0 0; } }

@media screen and (max-width: 639px) {
  .adv_bl_wrapper22 .popup_button {
    font-size: 1.125rem;
    line-height: 1.5rem; } }

@media screen and (max-width: 479px) {
  .adv_bl_wrapper22 .popup_button {
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 10px 30px; } }