.edit_b_wrapper {
  background: #fff;
  padding: 46px 54px 50px;
  color: #000; }

.edit_b_wrapper.inverse {
  background: #1d1d1d;
  color: #fff;
  }
.edit_b_wrapper.inverse .title{
  color: #fff;
}

.edit_b_wrapper .title {
  text-align: center; }

.edit_b_wrapper .body {
  overflow: hidden; }

@media all and (max-width: 979px) {
  .edit_b_wrapper {
    padding: 24px 24px 30px; } }

@media all and (max-width: 639px) {
  .edit_b_wrapper {
    padding: 26px 22px 36px; } }

@media all and (max-width: 479px) {
  .edit_b_wrapper {
    padding: 26px 16px 35px; } }

.edit_b_wrapper .edit_b_wrap {
  max-width: 1100px;
  margin: 0 auto; }
